.center {
	text-align: center;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.custom-nav {
	margin-bottom: 0px;
}

.fixed-width {
	width: 1000px;
}

#heading {
	font-size: 25px;
	font-weight: 100;
	font-family: 'Open Sans';
}

.palette {
	width: 59px;
	height: 59px;
	margin-right: 10px;
}

