.center {
	text-align: center;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.custom-nav {

}

.fixed-width {
	width: 1000px;
}

.half-size {
	width: 490px;
}

#heading {
	font-size: 25px;
	font-weight: 100;
}

.palette {
	width: 59px;
	height: 59px;
	margin-right: 10px;
}

.zero-padding {
	padding: 0px;
}

.custom-text {
	font-family: 'Open Sans';
}

.panel-heading {
	font-weight: 100;
	color: #777;
	font-size: 20px;
	text-align: left;
	padding-top: 0px;
	margin-top: 3px;
	border-bottom-width: 1px;
	border-bottom-color: rgba(119, 119, 119, 0.3);
}
